$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

/* emotion form range slider colors */
$low: #72d0ff;
$high: #f30;
$danger: $high;
$safe: #4cdb30;

/* ui colors */
$ui-blue: #2689C0;
$ui-white: #fafafa;

@import 'sass-bootstrap/lib/bootstrap';

body {
  background: $ui-white;
}

nav {
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* header bar styles */
.app-header {
  $size: 50px;

  background: $ui-blue;
  color: $ui-white;
  height: $size;
  text-align: center;
  position: relative;

  .navigation,
  ul { height: 100%; }

  .prev { float: left; }
  .next { float: right; }

  .glyphicon {
    font-size: 24px;
    cursor: pointer;
    height: $size;
    width: $size;
    line-height: 48px;
    top: 0;
  }

  .current {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    width: 100%;
  }
}

.emotion-form {
  padding: 3px 10px;
}

/* range slider styles */
.range-slider {
  $slider-size: 42px;
  $thumb-size: 46px;

  height: $slider-size;
  background: linear-gradient(left, $low, $high);
  margin: 10px 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  /* privacy slider styles */
  &.privacy {
    background: linear-gradient(left, $danger, $safe);
  }

  /*
   * slider thumb
   *
   * touch area is an empty square which includes smaller
   * visible thumb
  */
  .sliderThumb {
    width: $thumb-size;
    height: $thumb-size;
    top: ($slider-size - $thumb-size) / 2;
    position: absolute;

    /* visible thumb */
    &::before {
      $thumb-mark-size: 4px;

      content: '';
      display: block;
      position: absolute;
      height: $thumb-size;
      width: $thumb-mark-size;
      background: #000;
      left: ($thumb-size - $thumb-mark-size) / 2;
    }
  }

  /* slider label */
  .sliderLabelsDiv {
    font-weight: bold;
    font-size: 28px;
    color: rgba(white, .8);
    text-align: center;
    height: 100%;
  }
}

/* check-in button */
.check-in {
  $size: 50px;

  position: absolute;
  bottom: 0;
  background: $ui-blue;
  color: $ui-white;
  width: 100%;
  height: $size;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: $size;
  cursor: pointer;
}
