$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

/* emotion form range slider colors */
$low: #72d0ff;
$high: #f30;
$danger: $high;
$safe: #4cdb30;

/* ui colors */
$ui-blue: #2689C0;
$ui-white: #fafafa;

@import 'sass-bootstrap/lib/bootstrap';

body {
  background: $ui-white;
  overflow-x: hidden;
}

nav {
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* Header bar styles */
.app-header {
  $size: 50px;

  background: $ui-blue;
  color: $ui-white;
  height: $size;
  text-align: center;
  position: relative;

  .navigation,
  ul { height: 100%; }

  .prev { float: left; }
  .next { float: right; }

  .glyphicon {
    font-size: 24px;
    cursor: pointer;
    height: $size;
    width: $size;
    line-height: 48px;
    top: 0;
    position: relative;
    z-index: 9;

    &,
    &:hover {
      color: $ui-white;
      text-decoration: none;
    }
  }

  .current {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    width: 100%;
  }
}

.emotion-form {
  padding: 3px 10px;
}

/* Range slider styles */

/* use bg-image gradients */
.range-slider {
  background: url(../images/emotion-gradient.png) repeat-y;
  background-size: 100%;

  /* privacy slider styles */
  &.privacy {
    background: url(../images/privacy-gradient.png) repeat-y;
    background-size: 100%;
  }
}

/* use CSS gradients if supported */
.cssgradients {
  .range-slider {
    background: linear-gradient(left, $low, $high);

    /* privacy slider styles */
    &.privacy {
      background: linear-gradient(left, $danger, $safe);
    }
  }
}

.range-slider {
  $slider-size: 42px;
  $thumb-size: 46px;

  height: $slider-size;
  margin: 10px 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;

  /*
   * slider thumb
   *
   * touch area is an empty square which includes smaller
   * visible thumb
  */
  .sliderThumb {
    width: $thumb-size;
    height: $thumb-size;
    top: ($slider-size - $thumb-size) / 2;
    position: absolute;

    /* visible thumb */
    &::before {
      $thumb-mark-size: 4px;

      content: '';
      display: block;
      position: absolute;
      height: $thumb-size;
      width: $thumb-mark-size;
      background: #000;
      left: ($thumb-size - $thumb-mark-size) / 2;
    }
  }

  /* slider label */
  .sliderLabelsDiv {
    font-weight: bold;
    font-size: 28px;
    color: rgba(white, .8);
    text-align: center;
    height: 100%;
  }
}

/* Check-in button */
.check-in {
  $size: 50px;

  position: absolute;
  bottom: 0;
  background: $ui-blue;
  color: $ui-white;
  width: 100%;
  height: $size;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: $size;
  cursor: pointer;
}

/* Overlay loader */
.overlay {
  position: absolute;
  background: rgba(black, .6);
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;

  .glyphicon {
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  &.spinner .glyphicon-refresh {
    display: block;
    color: $ui-white;
    font-size: 120px;
    width: 120px;
    height: 120px;
    animation: spin 1200ms linear infinite;
  }
  &.success .glyphicon-ok-circle {
    display: block;
    color: lighten($safe, 10%);
    font-size: 120px;
    width: 120px;
    height: 120px;
  }
  &.error .glyphicon-warning-sign {
    display: block;
    color: lighten($high, 10%);
    font-size: 120px;
    width: 150px;
    height: 120px;
    text-align: center;
  }
  &.denied .glyphicon-minus-sign,
  &.unavailable .glyphicon-globe,
  &.timeout .glyphicon-time {
    display: block;
    color: lighten($high, 10%);
    font-size: 120px;
    width: 120px;
    height: 120px;
  }
}

/* Loader animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Maps styles */
.map {
  width: 100%;
}
.olControlAttribution {
  display: none !important;
}

/* Layers switcher styles */
.layers-switcher {
  $inner-color: #537cae;
  $outer-color: #e5eeee;

  width: 150px;
  padding: 4px 0 4px 4px;
  background: $outer-color;
  border-radius: 0 0 0 4px;
  font: bold 14px sans-serif;
  color: #fff;
  position: absolute;
  top: 58px;
  right: -150px;
  z-index: 999;
  transition: transform 200ms ease-in-out;

  &.show {
    transform: translate3d(-150px, 0, 0);
  }

  .switcher-inner {
    background: $inner-color;
    border-radius: 0 0 0 2px;
    padding: 0 0 0 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .layer {
    padding: 5px 0;

    span {
      cursor: pointer;
      text-transform: capitalize;

      &:hover {
        color: #eee;
      }
      &.inactive {
        color: #88afd3;
      }
    }
  }
  .switch {
    padding: 4px 0 4px 4px;
    background: $outer-color;
    position: absolute;
    top: 0;
    left: -30px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
  }
  .switch-inner {
    width: 30px;
    height: 22px;
    background: $inner-color;
    border-radius: 2px 0 0 2px;
  }
}
