<div ng-controller="HeaderCtrl">
  <header class="app-header">
    <nav class="navigation">
      <ul>
        <li class="prev" ng-class="{hidden: nav.prev.enabled}">
          <a href="{{nav.prev.url}}" class="glyphicon glyphicon-chevron-left"></a>
        </li>
        <li class="current">{{title}}</li>
        <li class="next" ng-class="{hidden: nav.next.enabled}">
          <a href="{{nav.next.url}}" class="glyphicon glyphicon-chevron-right"></a>
        </li>
      </ul>
    </nav>
  </header>
</div>
